/* Frame 10 */

position: relative;
width: 1239px;
height: 226px;

background: #1597F4;


/* 24 / symbols / instagram */

position: absolute;
left: 83.54%;
right: 13.64%;
top: 71.68%;
bottom: 12.83%;



/* icon */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

background: #000000;


/* Subtract */

position: absolute;
width: 29.17px;
height: 29.17px;
left: 2.92px;
top: 2.92px;

background: #DADADA;


/* Exclude */

position: absolute;
width: 29.17px;
height: 29.17px;
left: 2.92px;
top: 2.92px;

background: #DADADA;


/* Subtract */

position: absolute;
width: 29.17px;
height: 29.17px;
left: 2.92px;
top: 2.92px;

background: #DADADA;


/* Path */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;



/* Path */

position: absolute;
left: 16.67%;
right: 16.67%;
top: 16.67%;
bottom: 16.67%;



/* Path */

position: absolute;
left: 29.17%;
right: 29.17%;
top: 29.17%;
bottom: 29.17%;



/* Path */

position: absolute;
left: 37.5%;
right: 37.5%;
top: 37.5%;
bottom: 37.5%;



/* Path */

position: absolute;
left: 66.67%;
right: 25%;
top: 25%;
bottom: 66.67%;



/* 24 / symbols / linkedin */

position: absolute;
left: 70.62%;
right: 26.55%;
top: 71.68%;
bottom: 12.83%;



/* icon */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

background: #000000;


/* Subtract */

position: absolute;
width: 29.17px;
height: 29.17px;
left: 2.92px;
top: 2.92px;

background: #DADADA;


/* Path */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;



/* Path */

position: absolute;
left: 16.67%;
right: 16.67%;
top: 16.67%;
bottom: 16.67%;



/* Path */

position: absolute;
left: 41.67%;
right: 29.17%;
top: 37.5%;
bottom: 33.33%;



/* Path */

position: absolute;
left: 29.17%;
right: 62.5%;
top: 25%;
bottom: 66.67%;



/* Path */

position: absolute;
left: 29.17%;
right: 62.5%;
top: 37.5%;
bottom: 33.33%;



/* 24 / symbols / facebook */

position: absolute;
left: 77.08%;
right: 20.1%;
top: 71.68%;
bottom: 12.83%;



/* icon */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

background: #000000;


/* Subtract */

position: absolute;
width: 29.17px;
height: 29.17px;
left: 2.92px;
top: 2.92px;

background: #DADADA;


/* Rectangle 14 */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;



/* Rectangle 14 */

position: absolute;
left: 16.67%;
right: 16.67%;
top: 16.67%;
bottom: 16.67%;



/* Path */

position: absolute;
left: 46.39%;
right: 29.17%;
top: 25%;
bottom: 25%;



/* 24 / maps / pin-round */

position: absolute;
left: 89.99%;
right: 7.18%;
top: 71.68%;
bottom: 12.83%;



/* icon */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

background: #000000;


/* Union */

position: absolute;
width: 29.17px;
height: 29.17px;
left: 2.92px;
top: 2.92px;

background: #DADADA;


/* Subtract */

position: absolute;
width: 29.17px;
height: 29.17px;
left: 2.92px;
top: 2.92px;

background: #DADADA;


/* Union */

position: absolute;
width: 29.17px;
height: 29.17px;
left: 2.92px;
top: 2.92px;

background: #DADADA;


/* Path */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 61.68%;
bottom: 8.33%;



/* Path */

position: absolute;
left: 20.83%;
right: 20.83%;
top: 8.33%;
bottom: 19.95%;



/* Path */

position: absolute;
left: 29.17%;
right: 29.17%;
top: 16.67%;
bottom: 31.02%;



/* Path */

position: absolute;
left: 37.5%;
right: 37.5%;
top: 25%;
bottom: 50%;



/* Path */

position: absolute;
left: 45.83%;
right: 45.83%;
top: 33.33%;
bottom: 58.33%;



/* logo-white 1 */

position: absolute;
left: 9.93%;
right: 76.59%;
top: 17.7%;
bottom: 68.58%;

background: url(logo-white.png);


/* Bootlabs ©- All Rights Reserved. */

position: absolute;
left: 32.53%;
right: 48.51%;
top: 17.7%;
bottom: 73.89%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 124.02%;
/* identical to box height, or 19px */
text-align: center;
letter-spacing: -0.005em;

color: #FFFFFF;



/* Plot No.3, Syndicate Colony Road, */

position: absolute;
left: 33.01%;
right: 47.62%;
top: 29.2%;
bottom: 62.39%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 124.02%;
/* identical to box height, or 19px */
text-align: center;
letter-spacing: -0.005em;

color: #FFFFFF;



/* Alwarthirunagar, */

position: absolute;
left: 32.61%;
right: 57.71%;
top: 36.73%;
bottom: 54.87%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 124.02%;
/* identical to box height, or 19px */
text-align: center;
letter-spacing: -0.005em;

color: #FFFFFF;



/* Chennai - 600087 */

position: absolute;
left: 33.01%;
right: 56.66%;
top: 44.69%;
bottom: 46.9%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 124.02%;
/* identical to box height, or 19px */
text-align: center;
letter-spacing: -0.005em;

color: #FFFFFF;



/* hello@bootlabstech.com */

position: absolute;
left: 33.01%;
right: 53.35%;
top: 64.16%;
bottom: 28.32%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 124.02%;
/* or 17px */
text-align: center;
letter-spacing: 0.015em;

color: #FFFFFF;

