.boxed-btn:hover {
    color: #fff;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .4);
}

button.boxed-btn:hover a {
    color: #500ade;
}

.blog {
    min-height: 0vh !important;
    width: 100vw;
    padding: calc(50vh - 150px) 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1.blue-underline-heading {
    position: relative;
    text-align: center;
    display: inline-flex;
    font-size: 4vw;
    color: #020b8a;
    margin-bottom: 38px;
}
h1.blue-underline-heading:after {
    content: '';
    position: absolute;
    width: 20%;
    height: 1px;
    background-color: #020b8a;
    left: 50%;
    bottom: -7px;
    transform: translateX(-50%);
}

#career .bg_image {
    background: url("/images/bg/pricing_plan.jpg") no-repeat center center;
}
