body, p, span {
    color: #1c144e;
}

body.white, p.white, span.white {
    color: #fff;
}

.boxed-btn:hover {
    color: #fff;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .4);
}

button.boxed-btn:hover a {
    color: #500ade;
}

h2.blue-underline-heading {
    font-size: 2.5vw;
    line-height: 3vw;
    margin: 4vw 0;
    display: inline-flex;
    position: relative;
    text-align: center;
    color: #020b8a;
}

h2.white-underline-heading {
    font-size: 2.5vw;
    line-height: 3vw;
    margin: 4vw 0;
    display: inline-flex;
    position: relative;
    text-align: center;
    color: #ffffff;
}
h2.white-underline-heading:after {
    content: '';
    position: absolute;
    width: 20%;
    height: 1px;
    background-color: #ffffff;
    left: 50%;
    bottom: -7px;
    transform: translateX(-50%);
}
h2.blue-underline-heading:after {
    content: '';
    position: absolute;
    width: 20%;
    height: 1px;
    background-color: #020b8a;
    left: 50%;
    bottom: -7px;
    transform: translateX(-50%);
}

h2.main-heading {
    font-size: 2.25vw;
    line-height: 5vw;
    margin: 2vw 0;
    color: #fff;
}
h2.main-heading.blue {
    font-size: 2.25vw;
    line-height: 5vw;
    margin: 2vw 0;
    color: #020b8a;
}
@media screen and (max-width: 575px) {
    h2.main-heading {
        font-size: 5vw;
        line-height: 7vw;
        margin-bottom: 7vw;
    }
}

.blog {
    min-height: 0vh !important;
    width: 100vw;
    padding: calc(50vh - 150px) 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#career .bg_image {
    background: url("/images/bg/pricing_plan.jpg") no-repeat center center;
}

.bg-grey {
    background-color: #f0f4fd;
}
.bg-black {
    background-color: #02141f;
}
.white {
    color: #fff !important;
}

.text-on-dark-bg {
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, #38bdf8, #4f46e5);
}