section#promotion {
    padding: 20px 0;
    background: #f6f7fd;
}
#promotion.header-area {
    text-align: center;
    background: linear-gradient(0deg, #fff, #057);
}
#promotion .image-frame {
    position: relative;
    background: #8c43ee;
    background: url('/images/bg/pricing_plan.jpg') center center no-repeat ;
    border-radius: 15px;
    padding: 50px;
    margin: 10px 30px;
}
#promotion img.service-image {
    width: 50%;
}
#promotion .image-frame .image-scroller {
    width: 100%;
    overflow: auto;
    height: 50vw;
}
#promotion .image-frame a {
    cursor: pointer;
}
#promotion .image-frame .link {
    height: 50px;
    width: 50px;
    opacity: 0;
    right: 55px;
    bottom: 60px;
    cursor: pointer;
    position: absolute;
    filter: blur(25px);
    transition: .6s ease;
}
#promotion .image-frame:hover .link {
    transition: .6s ease;
    filter: blur(0px);
    opacity: 1;
} 
@media only screen and (max-width: 510px) {
    #promotion h1 {
        font-size: 10vw;
    }
    #promotion h1:after {
        width: 5vw;
    }
}